@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage-main {
    height: 80vh;
    padding-inline: 5%;
    -webkit-clip-path: polygon(
        10% 0,
        100% 0,
        100% 84%,
        90% 100%,
        0 100%,
        0 15%
    );
    clip-path: polygon(10% 0, 100% 0, 100% 84%, 90% 100%, 0 100%, 0 15%);
}
